email=ohadz@jfrog.com
always-auth=true
registry=https://soleng.jfrog.io/artifactory/api/npm/ohadz-test-npm/
//soleng.jfrog.io/artifactory/api/npm/ohadz-test-npm/:_auth="b2hhZHo6Y21WbWRHdHVPakF4T2pFM05UQXhORE16T1RJNmNHRlhiblU0Y1VKdFlVTlVPSGxIVlRsS1lrZEdhbUkyUzJkaQ=="
