name: "ohadz-npm-gha"

on:   
  workflow_dispatch:

permissions:
  id-token: write
  contents: read 
  
jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout
        uses: actions/checkout@v2
     
    # Configure Docker Credential Helper
    #  - name: Configure Docker Credential Helper
    #    uses: docker/docker-credential-helpers@v0.8.2 # Adjust version as needed
    #    with:
    #      # Reference secrets for credentials
    #      username: ${{ secrets.JF_USERNAME }}
    #      password: ${{ secrets.JF_PASS }}  # Or token file path for token auth
   
     #   with:
     #     sparse-checkout: |
     #      .github
     #      Source
      
      - name: Set up Node 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
  
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_PROJECT: ${{ vars.JF_PROJECT }}
        with:
          oidc-provider-name: ohadz-gh 
          oidc-audience: test-aud
    
        
  #    - name: Setup JFrog CLI
  #      uses: jfrog/setup-jfrog-cli@v3
  #      env:
  #        JF_URL: ${{ vars.JF_URL }}
  #        JF_USER: ${{ vars.JF_USER }}
  #        JF_PASSWORD: ${{ secrets.JF_PASS }}
  #        SERVER_ID: setup-jfrog-cli-server
      
      - name: Test JFrog CLI
        run: |
          jf c show
          jf rt ping
          jf -v
    
      - name: NPM Config
        run: jf npmc --server-id-resolve=setup-jfrog-cli-server --server-id-deploy=setup-jfrog-cli-server --repo-deploy ${{ vars.NPM_REPO }} --repo-resolve ${{ vars.NPM_REMOTE_REPO }} --global
         # npm config set registry ${{ vars.NPM_REG }}
         # npm config ls -l
        working-directory: ./Source
        
      - name: Install NPM Project
        run: jf npm install 
        working-directory: ./Source
      
      - name: Login to Docker Enviroment
        run: docker login ${{ vars.DOCKER_REG_SRV }} -u ${{ secrets.JF_USER }} -p ${{ secrets.JF_PASS }} 
        
      - name: Build Docker Image
        run: | 
          docker build --build-arg ARTIFACTORY_URL=${{ secrets.JF_NPM_URL }} \
                       --build-arg ARTIFACTORY_USERNAME=${{ secrets.JF_USERNAME }} \
                       --build-arg ARTIFACTORY_API_KEY=${{ secrets.JF_PASS }} \
                       -t ohadz-npm-project ./Source
      
      - name: Tag Docker Image
        run: docker tag ohadz-npm-project:latest soleng.jfrog.io/ohadz-test-docker/ohadz-npm-project:latest
        
      - name: Push Docker Image to RT
       #run: docker push $DOCKER_IMAGE_TAG
        run: jf docker push soleng.jfrog.io/ohadz-test-docker/ohadz-npm-project:latest
      
      - name: Collect and Publish Build Info
        run: |
          # Collect environment variables for the build
          jf rt bce
          # Collect VCS details from git and add them to the build
          jf rt bag
          # Publish build info
          jf rt bp
      
      - name: Security Audit
        run: jf audit
        
      - name: Scan Build
        run: jf bs --fail=false --vuln --format table --rescan
          
